## All the code below is to extract the data from wikipedia

In [1]:
import urllib.request
from bs4 import BeautifulSoup
import numpy as np

get url

In [2]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, "lxml")

In [3]:
all_tables=soup.find_all("table")
right_table=soup.find('table', class_='wikitable sortable')

Create table and convert to df

In [4]:
A=[]
B=[]
C=[]

for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [5]:
import pandas as pd
df=pd.DataFrame(A,columns=['PostalCode'])
df['Borough']=B
df['Neighbourhood']=C
df.head()

  PostalCode            Borough               Neighbourhood
0       M1A
      Not assigned
               Not assigned

1       M2A
      Not assigned
               Not assigned

2       M3A
        North York
                  Parkwoods

3       M4A
        North York
           Victoria Village

4       M5A
  Downtown Toronto
  Regent Park, Harbourfront

Find Not Assigned real value

In [6]:
df.iloc[0,2]

'Not assigned\n'

delete not assigned and reset index

In [7]:
df1=df.drop(df.loc[df['Borough']=='Not assigned\n'].index)
df1= df1.reset_index(drop=True)
df1.head()

  PostalCode            Borough                                 Neighbourhood
0       M3A
        North York
                                    Parkwoods

1       M4A
        North York
                             Victoria Village

2       M5A
  Downtown Toronto
                    Regent Park, Harbourfront

3       M6A
        North York
             Lawrence Manor, Lawrence Heights

4       M7A
  Downtown Toronto
  Queen's Park, Ontario Provincial Government

look for not assigned

In [8]:
df.loc[(df["Neighbourhood"]=="Not assigned\n")&(df["Borough"]!="Not assigned\n")]

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

In [9]:
df1.loc[(df1["Neighbourhood"]=="Not assigned\n")]

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

There are not "Not assigned Neighbourhood"

In [10]:
df1.shape

(103, 3)

Extract Long,Lat from CsV

In [11]:
# The code was removed by Watson Studio for sharing.

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Clean all data to match by id

In [12]:
df1['Postal Code'] = df1['PostalCode'].astype(str).str[:-1].astype(np.object)
df1['Borough'] = df1['Borough'].astype(str).str[:-1].astype(np.object)
df1['Neighbourhood'] = df1['Neighbourhood'].astype(str).str[:-1].astype(np.object)

Merge the two data by Postal Code

In [13]:
dffinal=pd.merge(df1, df_data_1, left_on='Postal Code', right_on='Postal Code', how='left').drop('Postal Code', axis=1)

In [14]:
dffinal.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494